.title{
    font-family: 'Hypatia Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #F0F0F0;
    align-content: center;
    justify-content: center;
    margin: 100px;
    margin-left: 560px;
}

.subtitle{
    font-family: 'Hypatia Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #F0F0F0;
    margin-left: 610px;
    margin-top: -80px;
    position: relative;
}