.square{
    width: 700px;
    height: 580px;
    //background-color: #696969;
    border-radius: 10px;
    align-content: center;
    margin-left: 320px;
    margin-top: -150px;
    opacity: 70%;
    background: linear-gradient(to bottom, gray 0%, #8d3020 100%);
   
}